* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: brown; */
}
.navbar{
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #eee;
}
.nav-container{
    width: 85%;
    max-width: 1360px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
}
.logo{
    width: 139px;
    height: 60px;
}
.menu{
    display: flex;
    gap: 32px;
}
.menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}
.btn{
    background: #469165;
    display: inline-block;
    padding: 13px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 4px;
    border: none;
}